.BtnList{
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content:space-between;
    /* width: 10vw; */
    margin: 0px auto;
}

.BtnList li{
    max-width: 30vw;
    /* overflow: hidden; */
    word-wrap:break-word;
    /* height: 10vh; */
    background-color: rgb(50, 50, 50);
    padding: 5px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BtnList button{
    padding: 10px;
    border-radius: 50%;
    background-color: red;
}
