*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Body{
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  background-color: black;
  /* width: 100vw; */
}

.todo-app{
  background-color: rgb(27, 25, 34);
  width: 40vw;
  border-radius: 20px;
  color: white;
}

.todo-app h1{
  background-color:rgb(0, 60, 255);
  margin-top: 1vw;
  color: white;
  /* width: max-content; */
  font-size: 1vw;
  padding: 1vw 0px;
  text-align: center;
  /* outline: 0.1px solid white; */
}

.bottomContents{
  min-height: 50vh;
}

.bottomContents ol{
  margin: 2vw;
}

.bottomContents ol li{
  margin: 10px;
  list-style: none;
  font-size: 25px;
}

.inputFunctionality{
  /* max-width: 15vw; */
  margin: 3vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: firebrick; */
  gap: 10px;
}

.inputFunctionality input{
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  max-width: fit-content;
  /* margin: auto; */
  outline: none;
  font-size: 20px;
}

.inputFunctionality input::placeholder{
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.inputFunctionality button{
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(0, 183, 255);
  border-radius: 10%;
}

.bottomContents button:hover{
  background-color: rgb(0, 157, 255);
  color: black;
}

@media screen and ((min-width: 280px) and (max-width: 480px)) {
  .todo-app{
    width: 80vw;
    /* background-color: aqua; */
  }
  .todo-app h1{
    font-size: 5vw;
  }
  .inputFunctionality{
    /* width: 5vw; */
    flex-direction: column;
    /* background-color: firebrick; */
  }
  .inputFunctionality input{
    text-align: center;
  }
}

@media screen and ((min-width:481px) and (max-width: 1200px)){
  .todo-app{
    width: 80vw;
    /* background-color: aqua; */
  }
  .todo-app h1{
    font-size: 5vw;
  }
  .inputFunctionality{
    /* width: 5vw; */
    flex-direction: column;
    /* background-color: firebrick; */
  }
  .inputFunctionality input{
    text-align: center;
  }
}